@media screen and (max-width: 600px){
	#container1,#container2,#container3{width: 100%;}
	div.rest{display: none;}
	#none{display: none;}.stop{display: none;}
	span.drop{display: none;}.but{display: none;}
	div.nav{overflow: hidden;padding: 0px;}
	a.logo{display: inline-block;margin: 0px;}
	#container2,#container3{padding: 0px 10px;}
}